[user]
	email = UgnineSirdis@ydb.tech
	name = Vasily Gerasimov

[includeIf "gitdir:~/manifests/"]
    path = ~/scripts/.gitconfig_nebo

[includeIf "gitdir:~/nebo/"]
    path = ~/scripts/.gitconfig_nebo

[core]
	editor = vim

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	backport = "!f() { set -x ; git cherry-pick -X ignore-space-at-eol -x $@; }; f"
	lg = log --graph
