[user]
	email = UgnineSirdis@ydb.tech
	name = Vasily Gerasimov
[core]
	editor = vim
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	backport = "!f() { set -x ; git cherry-pick -X ignore-space-at-eol -x $@; }; f"
	lg = log --graph
